<div class="banner" style="background-image: url(<%= asset_path "cover.png" %>);">
  <div class="banner-content">
    <h1>The Alcoholic Bar</h1>
    <p>More drinks, more dependency, more happiness</p>
    <button type="button" class="btn btn-primary">Join now</button>
  </div>
</div>



<br>

<% @cocktails.each do |cocktail|  %>
<%= cocktail.name %>
<% end %>



