<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, input_html: { class: "content-input" }, label_html: { class: "content-label" } %>
  <%= f.association :ingredient %>
  <%= f.submit "Create Cocktail" %>
<% end %>
